streamlit
requests
spacy==3.5.4
transformers[torch]==4.40.0
gtts
googletrans==4.0.0-rc1
textblob
nltk
matplotlib
wordcloud

# SpaCy English model direct install
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
