streamlit
requests
spacy
transformers
gtts
googletrans==4.0.0-rc1
textblob
nltk
wordcloud
matplotlib
pandas
torch  # Needed by transformers
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
